ion-avatar {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0 auto;

    img {
        display: block;
        border-radius: 50%;
        position: absolute;
        //bottom: calc(-1*(80px + 4px));
        border: 5px solid #731212;
        background-color: #fff;
    }
}