<ion-tabs>

  <ion-tab-bar slot="bottom" style="">

    <ion-tab-button tab="home">
      <ion-icon name="home" color="light"></ion-icon>
      <ion-label>หน้าแรก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="ios-basket" color="light"></ion-icon>
      <ion-label>สินค้า</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="bookmark" color="light"></ion-icon>
      <ion-label>แนะนำซุ้ม</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lives">
      <ion-icon name="videocam" color="light"></ion-icon>
      <ion-label>รายการสด</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="person" color="light"></ion-icon>
      <ion-label>ชื่อบัญชี</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>