<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" ></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      <img src="/assets/icon/logo_3.png" style="height: 40px; width : 40px;   "/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="newsDetail">
    <img [src]="newsDetail.image" />
    <ion-card-header>
      <ion-card-subtitle>{{newsDetail.created_at}}</ion-card-subtitle>
      <ion-card-title>{{newsDetail.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHtml]="newsDetail.description"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
