.alert-ios .alert-radio-label {
  white-space: pre-line;
}
.alert-md .alert-radio-label {
  white-space: pre-line;
}
.alert-wp .alert-radio-label {
  white-space: pre-line;
}
ion-label {
  white-space: normal !important;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    white-space: normal !important;
}

.sc-ion-label-md-h{
    white-space: normal !important;
}
