<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      <img
        src="/assets/icon/logo_3.png"
        style="height: 30px; width : 30px;  "
      />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="notifications"
        color="light"
        style="width: 30px; height: 30px;"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/icon/icon.png" alt="" />
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">สุวรรณ กฤตสัมพันธ์</h3>
      <h5 class="country">เบอร์โทรศัพท์: 0825483990</h5>
      <br>
      <h5 class="country">Email: suwan_za2012@hotmail.com</h5>
      <!-- <h6 class="ranking">suwan_za2012@hotmail.com <ion-chip>
            <ion-label>2</ion-label>
            </ion-chip>
          </h6> -->
    </div>
    <!-- <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
        <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
        <ion-button expand="full" color="secondary">View profile at ATP</ion-button> -->
  </div>
</ion-content>
