<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      <img
        src="/assets/icon/logo_3.png"
        style="height: 30px; width : 30px;  "
      />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="notifications"
        color="light"
        style="width: 30px; height: 30px;"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div padding-horizontal>
    <ion-button expand="block" color="dark" size="large">ติดต่อเรา</ion-button>
  </div>

  <hr />
  <br />
  <h1 text-center>ที่อยู่</h1>
  <p text-center>
    30/249 งามวงศ์วาน 47 ถนนงามวงศ์วาน แขวงทุ่งสองห้อง เขตหลักสี่ กทม. 10210
  </p>
  <br />
  <h1 text-center>Email</h1>
  <p text-center>lampamfarm@lampamfarm.com</p>
  <br />
  <h1 text-center>โทรศัพท์</h1>
  <p text-center>
    02-954-8032
    <br />
    080-181-8833
    <br />
    081-913-4983
  </p>
</ion-content>
